html {
    font-family: Verdana, sans-serif;
    background-color: black;
    font-size: 50px;
    text-align: center;
}

h1 {
    font-size: 1rem;
    color: white;
}

h2 {
    font-size: 0.84rem;
    color: white;
    font-weight: 300;
}

h3 {
    font-size: 0.42rem;
    color: gray;
}

h4 {
    font-size: 0.32rem;
    color: aquamarine;
    text-decoration: underline;
}

footer {
    text-align: right;
    color: gray;
}